<style>
    body {
        background-color: whitesmok;   
    }

    div {
        font-family:"Georgia";
        text-align:center;
        padding:5rem;
        width:50%;
        margin:auto;
    }
</style>

<h1>글 수정하기</h1>
<form action="{%url 'update' blog.id %}" method = "POST">
    <!-- GET방식은 보안에 안좋다. 그래서 POST방식으로 action 취함 -->
    {%csrf_token%}
    <!-- csrf 공격을 방지하기 위해 csrf token 쓴다 -->
    제목 : <input type="text" value = "{{blog.title}}" name = "title">
    <br>
    <br>
    본문 : <textarea name="body" id="" cols="30" rows="10">{{blog.body}}</textarea>
    <button type = "submit">작성!</button>

</form>
