{%load static %}

<style>
    body {
        background-color: whitesmoke;   
    }

    div {
        font-family:"Georgia";
        text-align:center;
        width:50%;
        margin:auto;
    }

    a {text-decoration: none;}

    a:link{
        color:black;
    }

    a:visited {
        color:black;
        text-decoration: none;
    }

    a:hover {
        color:olivedrab;
    }

    ::selection {
		background-color: olivedrab;
		color: whitesmoke;
	}

</style>

<img src="{%static '2.jfif'%}" style="max-width: 100%;">

<div>

    <h1>❁ YOUNG STUDIO ❁</h1>

    <a href="{% url 'new' %}" style="color:olivedrab;font-style: italic;font-weight:bold;">New!</a>

<div>

<!-- 로그인 div -->
<!-- 유저가 로그인하면 안녕~ 그렇지 않으면 로그인해!-->


    {% if user.is_authenticated %}
        <br>안녕, {{user.username}}
        <br>{{user.birthday}}
        <br>{{user.gender}}
        <br>
        <br>
        <a href = "{% url 'logout' %}">로그아웃</a>
        

    {% else %}
    <br>
        <a href = "{% url 'login' %}">로그인</a>
        <a href = "{% url 'register' %}">회원가입</a>
    {% endif %}


</div>


{% for blog in blogs %}  
    <!-- blogs를 blog라는 변수에 넣어서 보여준다. -->

    <hr>
    <a href="{% url 'detail' blog.id %}">
    <span style="font-weight: bold; font-size:large">{{blog.title}}</span> 
    {{likes}}
    <br>
    {{blog.pub_date}}</p>
    <br>
    {{blog.summary}}
    <br>
    {% if blog.image %}
    <!-- if 꼭 해줘야한다 안하면 그림 없을 때 오류남ㅠㅠ! -->
    <img src="{{blog.image.url}}">
    {% endif %}
    </a>

{% endfor %}
</div>


